.banner-section.shortheight{
  height: 40vh;
  min-height: 400px;
}

.banner-section.tallheight{
  height: 60vh;
  min-height: 600px;
}

.banner-section.fullheight{
  height: 100vh;
  min-height: 700px;
}

.banner__media {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
}
.banner__media img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner__media .placeholder-svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}


.banner__content {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: 11;
}

@media screen and (min-width: 768px) {
  .banner__content {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}





@media screen and (min-width: 768px) {
.banner-split.shortheight{
  height: 40vh;
  min-height: 400px;
}

.banner-split.tallheight{
  height: 60vh;
  min-height: 600px;
}

.banner-split.fullheight{
  height: 100vh;
  min-height: 700px;
}
}

.banner {
  display: flex;
  position: relative;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .banner--mobile-bottom:not(.banner--stacked):not(.banner--adapt)
    > .banner__media {
      height: 30vh;
      min-height: 320px;
  }

  .banner:not(.banner--stacked) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    min-height: 72rem;
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .banner--stacked {
    height: auto;
  }

  .banner--stacked .banner__media {
    flex-direction: column;
  }
}


.banner__media-half {
  width: 50%;
}

.banner__media-half + .banner__media-half {
  right: 0;
  left: auto;
}

@media screen and (max-width: 767px) {
  .banner--stacked .banner__media-half {
    width: 100%;
  }

  .banner--stacked .banner__media-half + .banner__media-half {
    order: 1;
  }

  .banner:not(.banner--adapt):not(.banner--stacked):not(.banner--mobile-bottom)
    > .banner__content {
    min-height: 39rem;
  }
}

@media screen and (min-width: 768px) {
  .banner__media {
    height: 100%;
  }
}

.banner--adapt {
  height: auto;
}

@media screen and (max-width: 767px) {
  .banner--mobile-bottom .banner__media,
  .banner--stacked:not(.banner--mobile-bottom) .banner__media {
    position: relative;
  }

  .banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt)
    .banner__content {
    position: absolute;
    min-height: 39rem;
    height: auto;
  }

  .banner--stacked.banner--adapt:not(.banner--mobile-bottom) .banner__content {
    max-height: 100%;
    overflow: hidden;
    position: absolute;
  }

  .banner--stacked:not(.banner--adapt) .banner__media {
    position: relative;
    height: 39rem;
  }

  .banner::before {
    display: none !important;
  }

  .banner--stacked .banner__media-image-half {
    width: 100%;
  }
}